@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f3d52b31;
}

section, footer {
    padding: 54px 0;
}

h3 {
    font-size: 50px;
}

p {
    color: #0000009c;
    /* cor do paragrafo (p) escrito bem vindos a west... */
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn {
    /* botao contactos config */
    background-color: #ece522;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn:hover {
    background-color: #777417;
    /* animação ao clicar o botão contactos */
}

@keyframes animate-outline {
    from {
        outline: 0px solid #fff701;
    }
    to {
        outline: 20px solid #fff700;
    }
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh; /* Altura da viewport */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    /* botao home, contactos,etc  */
    color: #f9f9f9;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a::after {
    content: "";
    background-color: #ece522;
    height: 3px; /* para colar a animação de baixo do sobre, contactos etc... */
    width: 0%;
    display: block;
}

nav ul a:hover::after {
    width: 100%;
    /* continuação da animação */
}

/* menu mobile */
nav .menu-icon {
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none;
    /* o display none serve para ocultar o menu quando estiver no modo desktop */
}

nav .close-icon {
    display: none;
    font-size: 30px;
    color: white;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner .banner-text {
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1 {
    font-size: 90px;
    color: white;
}

.banner .banner-text p {
    font-size: 25px;
    color: #ffffff;
    font-weight: lighter;
    margin: 12px 0;
}

/* saiba mais */
.saiba-mais .container {
    display: flex;
    align-items: center;
}

.saiba-mais .saiba-mais-text {
    width: 50%;
    padding: 0 40px;
}

.saiba-mais .saiba-mais-text h3 {
    font-size: 56px;
}

.saiba-mais .saiba-mais-text p {
    margin: 5px 0 10px 0;
}

.saiba-mais .saiba-mais-img {
    width: 50%;
}

.depoimentos h3 {
    text-align: center;
    /* texto depoimento */
}

.depoimentos p {
    /* o comentário do depoimento */
    margin-bottom: 20px;
    text-align: center;
}

.cards {
    /* cards do depoimento */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.depoimentos .card-item {
    background-color: rgba(244, 160, 50, 0.728);
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.depoimentos .card-item img {
    border: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.depoimentos .card-item .nome-user {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

.depoimentos .card-item .depoimentos-user {
    font-size: 15px;
    padding: 0 15px;
}

.depoimentos .card-item .stars {
    margin: 15px 0;
    border-top: 5px solid rgba(255, 255, 0, 0.511);
}

.depoimentos .card-item .stars i {
    color: cornsilk;
    margin-top: 15px;
    font-size: 20px;
}

.depoimentos .card-item:hover {
    background-color: rgb(240, 172, 2);
    margin-top: -5px;
}

.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .depoimentos-user {
    color: #ffffff;
}

/* Parceiros */
.parceiros h3,
.parceiros p {
    text-align: center;
}

.parceiros .container div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* footer */
.footer {
    background-color: rgb(245, 231, 160);
    text-align: center;
}

.footer i {
    color: gold;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.footer p {
    margin-top: 10px;
    color: white;
}

/* Pagina sobre */
.sobre .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre .sobre-text p {
    margin: 18px;
    color: #000000a6;
}

.sobre .sobre-img {
    width: 100%;
}

.sobre .sobre-img img {
    width: 120%;
    border-radius: 50px;
}

/* end pagina sobre */

/* pagina servicos */
.servicos h3 {
    text-align: center;
}

.servicos .container {
    text-align: center;
}

.servicos .rows-cards {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.servicos .row-card-item {
    background-color: rgb(227, 191, 101);
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
}

.servicos .row-card-item:hover {
    background-color: rgba(255, 217, 0, 0.509);
    transition: 0.3s;
}

.servicos .row-card-item:hover p {
    color: #ffffff;
}

.servicos .row-card-item img {
    background-color: #f1efad;
    border-radius: 14px;
    width: 70px;
    padding: 9px;
}

.servicos .row-card-item p.nome-servico {
    margin: 5px;
    transition: 0.3s;
}

.servicos .row-card-item p.descricao-servico {
    transition: 0.3s;
}

/* pagina de contactos */
.contacto-info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contacto-info .left-side {
    width: 50%;
    padding: 30px;
    background-color: #f5ef42;
    border-radius: 14px;
    margin-right: 50px;
    height: fit-content;
}

.contacto-info .right-side {
    width: 50%;
}

.contacto-info .right-side input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 9px;
    transition: 0.3s;
    border: none;
}

.contacto-info .right-side textarea {
    border: 1px solid #f1f1f1;
    color: #212121;
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    resize: none;
}

.contacto-info .right-side button {
    border: none;
}

/* Ajuste para o fundo do header */
header {
    background-image: url('caminho/para/sua-imagem.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh; /* Altura da viewport */
    background-repeat: no-repeat; /* Evita que a imagem repita */
    position: relative;
}

