@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f6e9c031;
    font-size: 1rem; /* Tamanho base */
}

section, footer {
    padding: 4vw 0;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

h3 {
    font-size: 4vw; /* Responsivo ao tamanho da viewport */
}

p {
    color: #0000009c;
    font-size: 1.2rem; /* Aumenta ligeiramente para melhor legibilidade */
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn {
    background-color: #ece522;
    color: white;
    padding: 1vw 2vw;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn:hover {
    background-color: #f8f89a;
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3vw;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: #f9f9f9;
    margin: 0 2vw;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: block;
}

nav ul a::after {
    content: "";
    background-color: #ece522;
    height: 3px;
    width: 0%;
    display: block;
}

nav ul a:hover::after {
    width: 100%;
}

nav .menu-icon {
    cursor: pointer;
    font-size: 5vw;
    color: white;
    display: none;
}

nav .close-icon {
    display: none;
    font-size: 6vw;
    color: white;
}

.banner {
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.banner .banner-text {
    margin: 10vh 5vw;
    text-align: center;
    padding: 0 10vw;
}

.banner .banner-text h1 {
    font-size: 5vw;
    color: white;
}

.banner .banner-text p {
    font-size: 2.5vw;
    color: #ffffff;
    font-weight: lighter;
    margin: 12px 0;
}

/* Saiba mais */
.saiba-mais .container {
    display: flex;
    align-items: center;
}

.saiba-mais .saiba-mais-text {
    width: 50%;
    padding: 0 4vw;
}

.saiba-mais .saiba-mais-text h3 {
    font-size: 6vw;
}

.saiba-mais .saiba-mais-text p {
    margin: 5px 0 10px 0;
}

.saiba-mais .saiba-mais-img {
    width: 50%;
}

/* Depoimentos */
.depoimentos h3 {
    text-align: center;
}

.depoimentos p {
    margin-bottom: 2vw;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Responsividade */
@media(max-width: 830px) {
    .ul {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(245, 200, 142, 0.872);
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }

    .ul.open {
        clip-path: circle(141.4% at 100% 0);
    }

    .ul a {
        margin: 10px 0;
        font-size: 4vw;
    }

    nav .menu-icon {
        display: block;
    }

    nav .close-icon {
        display: block;
        position: absolute;
        top: 6vw;
        right: 6vw;
    }

    .saiba-mais .container {
        flex-direction: column;
    }

    .saiba-mais .saiba-mais-text,
    .saiba-mais .saiba-mais-img {
        width: 100%;
    }

    .banner .banner-text {
        padding: 0;
        margin: 8vw;
    }

    .depoimentos .card-item {
        width: 100%;
    }

    .sobre .sobre-img,
    .sobre .sobre-text {
        width: 100%;
    }

    .sobre .sobre-text {
        margin-top: 40px;
    }

    .contacto-info {
        flex-direction: column;
    }

    .contacto-info .left-side,
    .contacto-info .right-side {
        width: 100%;
    }
}

@media (max-width: 500px) {
    header {
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }

    .banner {
        background-size: cover;
        background-position: center;
        height: 50vh;
    }
}
